.title {
  font-size: 30px;
}

.popupButton {
  padding: 0 25px;
  height: 35px;
}

.container {
  width: 100%;
  --rule-image-width: 520px;
}

.textField {
  padding: 0 15px;
  margin-right: 5px;
  width: 70%;
  height: 35px;
}

.sendButton {
  width: 20%;
  height: 35px;
}

.image {
  width: var(--rule-image-width);
  max-width: 300px;
  height: 180px;
  display: block;
  margin: 8px auto;
}

.headerImage {
  width: var(--rule-image-width);
  max-width: 90%;
  height: 70%;
  display: block;
  margin: 8px auto;
}

.section {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.section h5 {
  margin-bottom: 0.25rem;
}

.sectionList {
  list-style: decimal inside;
  margin-top: 1.5rem;
  padding-left: 0;
}

.stepItem {
  margin-bottom: 1.5rem;
}

.stepTitle {
  display: inline;
  font-weight: 600;
  margin-left: 0.25rem;
}

.churarenRule {
  font-size: 25px;
  font-family: 'Cinzel', system-ui, sans-serif;
  background: rgba(0, 0, 0, 0.08);
  padding: 0.35rem 0.75rem;
  border-radius: 0.5rem;
  display: inline-block;
}
