.popupButton {
  padding: 0 25px;
  height: 35px;
}

.container {
  width: 100%;
  --rule-image-width: 520px;
}

.textField {
  padding: 0 15px;
  margin-right: 5px;
  width: 70%;
  height: 35px;
}

.sendButton {
  width: 20%;
  height: 35px;
}

.image {
  width: var(--rule-image-width);
  max-width: 300px;
  height: 180px;
  display: block;
  margin: 8px auto;
}

.headerImage {
  width: var(--rule-image-width);
  max-width: 90%;
  height: 70%;
  display: block;
  margin: 8px auto;
}
