.container {
  position: fixed;
  top: 30%; /* 画面の上部から中央に配置 */
  left: 50%; /* 画面の左側から中央に配置 */
  transform: translate(-50%, -50%); /* 中央揃え */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* 背景色を透明にする */
  padding: 0;
  width: 500px;
  height: 200px;
  font-family: 'Hannotate SC';
}

.timeDisplay {
  position: relative;
  font-size: 50px;
  color: black;
  border-radius: 90%;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
