.rankingOpenButtonContainer {
  position: fixed;
  top: 15%; /* 画面の上部から中央に移動 */
  left: 13%; /* 画面の左側から中央に移動 */
  transform: translate(-50%, -50%); /* 中央揃え */

  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 20px;
  padding: 30px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
  height: 23px;
  width: 220px;
  max-height: calc(85vh - 130px);
  padding: 0px;
  transition: opacity 0.5s;

  .rankingOpenButton {
    padding: 0 25px;
    background-color: white;
    font-family: 'Hannotate SC';
    font-size: 20px;
    color: black;
    border: 0px solid black;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
      background-color: rgb(172, 172, 172);
    }
  }
}
