.leftArrow {
  transform: scaleX(-1);
}

.videoArea {
  display: block;
}

.cameraVideosList {
  position: fixed;
  width: 100vw;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 5000;
}

.videos {
  display: flex;
  column-gap: 15px;
  justify-content: center;
  height: 18vh;
  pointer-events: auto;
}

.higher {
  z-index: 6000;
}

.pageButton {
  margin: 0 15px;
  height: 60px;
  user-select: none;
  pointer-events: auto;
}

.pageButton:hover {
  filter: brightness(0.9);
}
