.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 80%;
  margin-bottom: 20px;
  min-height: 50px;
}

.dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #666;
  border-radius: 50%;
}
