.resultExitButton:not(.defaultStyle) {
  padding: 10px 20px;
  background-color: rgb(10, 10, 200);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: rgba(10, 60, 240, 0.5);
  }

  &:focus {
    outline: none;
  }
}
