.listRow {
  display: flax;
}

.playerName {
  margin-right: 30px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  font-size: 30px;
  font-weight: blod;
}

.tableStyle {
  width: 300px;
  table-layout: fixed;
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: #cd7f32;
}

.black {
  color: black;
}
