@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.listRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 80%;
  top: 10%;
  left: 50%;
}

.player {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  font-size: 23px;
  font-weight: bold;
  width: 100%;
}

.tableStyle {
  top: 30%;
  width: 80%;
  table-layout: fixed;
}

.gold {
  color: #daa520;
  font-family: 'Dela Gothic One';
  background-color: #ffe4b5;
  border-radius: 8px;
  border: solid;
  border-color: #daa520;
  border-width: 1px;
}

.silver {
  color: silver;
  font-family: 'Dela Gothic One';
  background-color: #f5f5f5;
  border-radius: 8px;
  border: solid;
  border-color: silver;
  border-width: 1px;
}

.bronze {
  color: #cd7f32;
  font-family: 'Dela Gothic One';
  background-color: #f5deb3;
  border-radius: 8px;
  border: solid;
  border-color: #cd7f32;
  border-width: 1px;
}

.black {
  color: #696969;
  font-family: 'Dela Gothic One';
  background-color: #fdf1cd;
  border-radius: 8px;
  border: solid;
  border-color: silver;
  border-width: 1px;
}

.rank {
  float: left;
  text-align: right;
  width: 13%;
}

.playerName {
  float: left;
  text-align: left;
  margin-left: 2%;
  width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.coinValue {
  float: right;
  text-align: right;
  margin-right: 3%;
  width: 35%;
}

.crownImage {
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
}
