.container {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox {
  margin-right: 8px;
  cursor: pointer;
}

.labelText {
  font-size: 14px;
  color: #000000;
}
