.container {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.8);
  top: 15%;
  right: 5%;

  border-radius: 10px;
  width: 310px;
  min-height: 100px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(21, 21, 21, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.container p {
  font-size: 16px;
  margin: 0;
}

.descriptionText {
  width: 100%;
  text-align: center;
  line-height: 1.4;
}
