.container {
  position: fixed;
  top: 10%; /* 画面の上部から中央に配置 */
  left: 30%; /* 画面の左側から中央に配置 */
  transform: translate(-50%, -50%); /* 中央揃え */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0; /* パディングを0にする */
  font-family: 'Hannotate SC';
}

.text {
  font-size: 24px;
  margin-bottom: 20px;
}

.itemBoxContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.itemBox {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemImage {
  max-width: 100%;
  max-height: 100%;
}

.noImage {
  max-width: 100%;
  max-height: 100%;
  background-color: transparent;
}

.keyIndicator {
  width: 50px;
  height: 20px;
}

.itemAndKeyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
}
