.meetingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #202124;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.mainArea {
  flex: 1;
  display: flex;
  overflow: hidden;
}
