.meetingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202124;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  overflow: hidden;
}

.mainArea {
  flex: 1;
  display: flex;
  overflow: hidden;
  min-width: 0;
}
