.container {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 320px;
  max-height: calc(85vh - 130px);
  font-size: 14px;

  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.turn {
  display: flex;
  justify-content: center;
  padding-left: 12px;
  font-size: 2em;
  white-space: pre;
}

.title {
  display: flex;
  align-items: center;
  border-left: solid var(--c-primary) 5px;
  padding-left: 12px;
  font-size: 1.2em;
}

.boardElementContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 10px;
  font-size: 0.9em;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid lightsteelblue;
  align-items: center;
  justify-content: center;
}

.boardElementContainer > div {
  flex: 2;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.boardElementContainer > .playerId {
  flex: 2;
}

.boardElementContainer > .status {
  flex: 2;
}

.boardElementContainer:last-child {
  border-bottom: none;
}

.status {
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  text-align: center;
}

/* 各ステータスに対する色の設定 */
.yet {
  background-color: rgb(3, 185, 0);
}

.success {
  background-color: rgb(2, 184, 216);
}

.nyokki {
  background-color: rgb(255, 0, 174);
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: #cd7f32;
}

.black {
  color: black;
}

// ===== ===== ===== ===== ===== ===== ===== ===== ===== =====

.betCoinFormContainer {
  position: fixed;
  right: 5%;
  top: 35%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
}

.betCoinFormContainer p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.betCoinForm {
  text-align: center;
}

// ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
.turnSelectFormContainer {
  position: fixed;
  top: 35%;
  right: 5%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);

  width: 300px;
  max-height: calc(85vh - 130px);
}

.turnSelectFormContainer p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.turnSelectInput {
  width: 60px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
}

.decrementButton,
.incrementButton {
  border: none;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #45a049;
  }

  &:focus {
    outline: none;
  }
}

.decrementButton::before {
  content: '-';
}

.incrementButton::before {
  content: '+';
}

.betCoinInput {
  width: 60px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
}

.sendButton {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #45a049;
  }

  &:focus {
    outline: none;
  }
}
